<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs',{title:'Inicio'}) %>

<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>
    <main class="main-home">
        <section class="portada">
                <div class="boton-izq">
                    <i class="fas fa-backward"></i>
                </div>
                <img title="Promocion 2024" src="/img/portada1.webp" alt="Promocion gaming mode">
                <div class="boton-der">
                    <i class="fas fa-forward"></i>
                </div>            
        </section>
        <section class="section-novedades">
            <h2>NOVEDADES</h2>
            <div class="campo-novedades">
                <% products.map((product) =>{ %>
                <article class="campo-articulo">
                    <a href="/products/detail/<%= product.id %>">
                        <img src= "/img/<%= product.img[0] %>" alt="<%= product.title %>">
                        <div class="campo-articulo-info">
                            <p>$<%= product.price %></p>
                            <h4><%= product.title %></h4>
                        </div>
                        <div class="campo-articulo-boton">
                            <form action="#">
                                <button class="boton-agregar">Agregar al carrito</button>
                            </form>
                        </div>
                    </a>
                </article>
                <% }) %>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
</body>
</html>