<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>

    <main class="main-detail">
        <section class="section-detalle">
            <div class="campo-detalle">
                <h1><%= products.title %></h1>
                <h2>$<%= products.price %></h2>
                <div class="condiciones-de-compra-true">
                    <i class="fas fa-shield-alt"></i>
                    <H3>Garantia <%= products.warranty %></H3>
                </div>
                <% if (products.stock) { %>
                <div class="condiciones-de-compra-true">
                    <i class="fas fa-check-square"></i>
                    <h3>Stock</h3>
                </div>
                <% } else { %>
                <div class="condiciones-de-compra-false">
                    <i class="fas fa-window-close"></i>
                    <h3>Sin stock</h3>
                </div>
                <% } %>

                <% if (products.shipping) { %>
                <div class="condiciones-de-compra-true">
                    <i class="fas fa-truck"></i>
                    <h3>Envio</h3>
                </div>
                <% } else { %>
                    <div class="condiciones-de-compra-false">
                        <i class="fas fa-truck"></i>
                        <h3>Sin envio</h3>
                    </div>                
                <% } %>
                <div>
                    <form action="/" class="form-cantidad">
                        <input type="text" placeholder="1">
                        <button>Agregar al carrito</button>
                    </form>
                </div>
            </div>
            <div class="campo-imagenes">
                <div class="campo-imagen-grande">
                    <img src="/img/<%= products.img[0] %>" alt="<%= products.title %>">
                </div>
                <div class="campo-imagenes-chicas">
                    <% products.img.forEach((imagenes) =>{ %>
                        <img src="/img/<%=imagenes%>">
                    <% }) %>
                </div>
            </div>
        </section>
        <section class="section-caracteristicas">
            <h3>ESPECIFICACIONES</h3>
            <ul>
                <% products.specifications.forEach((especificacion) =>{ %>
                <li><h4><%= especificacion %></h4></li>
                <% }) %>
            </ul>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
    
</body>

</html>