<!DOCTYPE html>
<html lang="es">

<%- include('partials/head.ejs',{title:'Detalle del producto'}) %>

<body>
    <!-- HEADER -->
    <%- include('partials/header.ejs') %>

    <main class="main-detail">
        <section class="section-detalle">
            <div class="campo-detalle">
                <h1><%= products.title %></h1>
                <h2>$<%= products.price %></h2>
                <div class="condiciones-de-compra-true">
                    <i class="fas fa-shield-alt"></i>
                    <H3>Garantia <%= products.warranty %> meses</H3>
                </div>
                <% if (products.stock > 0) { %>
                <div class="condiciones-de-compra-true">
                    <i class="fas fa-check-square"></i>
                    <h3>Stock disponible</h3>
                </div>
                <% } else { %>
                <div class="condiciones-de-compra-false">
                    <i class="fas fa-window-close"></i>
                    <h3>Sin stock</h3>
                </div>
                <% } %>

                <!-- <% if (products.shipping) { %>
                <div class="condiciones-de-compra-true">
                    <i class="fas fa-truck"></i>
                    <h3>Envio</h3>
                </div>
                <% } else { %>
                    <div class="condiciones-de-compra-false">
                        <i class="fas fa-truck"></i>
                        <h3>Sin envio</h3>
                    </div>                
                <% } %> -->
                <div>
                    <% if(user.rol == 1) { %>
                    <div class="div-admin">
                        <a href="/products/edit/<%=products.id%>" class="action-button-edit">EDITAR PRODUCTO</a>
                        <form action="/products/delete/<%=products.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                            <button type="submit" class="action-button-delete">ELIMINAR</button>
                        </form>
                    </div>
                    <% } %>
                    <form action="/" class="form-cantidad">
                        <!-- <input type="text" placeholder="1"> -->
                        <button>Agregar al carrito</button>
                    </form>
                </div>
            </div>
            <div class="campo-imagenes">
                <div class="campo-imagen-grande">
                    <img src="/img/<%= products.image %>" alt="<%= products.title %>">
                
        </section>
        <section class="section-caracteristicas">
            <h3>ESPECIFICACIONES</h3>
            <p>$<%= products.specifications %></p>
            <p>$<%= products.price %></p>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer.ejs') %>
    
</body>

</html>