<header>
    <div class="personal">
        <a href="/" id="logo"><img src="/images/logoMobile.png" alt="No se encontro el logo."></a>
        <form action="/search" class="buscador" method="GET">
            <input name="search" placeholder="BUSCAR PROCESADOR, NOTEBOOK">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="cuenta">
            <p>
                <%= user.firstName %>
                <%= user.lastName %>
            </p>
            <li> <img src="/img/user.png" width='30px' height="30px" alt="user"> </li>
            <a href="#" id="carrito"><i class="fas fa-shopping-cart"></i></a>
            <ul>
                <li>
                    <form action="/user/<%= user.email %>" method="post">
                        <input type="submit" value="Cerrar Sesion">
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <% if(user.rol == 2 || !user) { %>
                <li><a href="#">PC de escritorio</a></li>
                <li><a href="#">Notebooks</a></li>
                <li><a href="#">Perifericos</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            <% } %>
            <% if(user.rol == 1) { %>
                <li><a href="/products/create">Crear Producto</a></li>
                <li><a href="/userList/">Ver usuarios</a></li>
            <% } %>
        </ul>
        <ul>
            <% if(user) { %>
                <li><a href="/userDetail/"><%= user.firstName %> <%= user.lastName %></a></li>
                <li> <img src="/img/user/<%=user.avatar%>" width='30px' height="30px" alt="user"> </li>
                <% if(user.rol == 2) { %>
                    <li><a href="#" id="carrito"><i class="fas fa-shopping-cart"></i></a></li>
                <% } %>
                <li>
                    <form action="/user/<%= user.email %>" method="post">
                        <input type="submit" value="Cerrar Sesion">
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="boton-desplegable">
        <button><i class="fas fa-bars"></i></button>
    </div>
</header>